# MARKET METRICS: A Finance & Commerce Deep Dive

In [1]:
import pandas as pd

In [4]:
#Loading my datasets into databases

customers = pd.read_csv("customers.csv")
products = pd.read_csv("products.csv")
orders = pd.read_csv("orders.csv")
transactions = pd.read_csv("transactions.csv")
returns = pd.read_csv("returns.csv")
marketing = pd.read_csv("marketing_traffic.csv")

In [10]:
# Creating a loop through all databases

for name, df in {
    "customers": customers,
    "products": products,
    "orders": orders,
    "transactions": transactions,
    "returns": returns,
    "marketing": marketing
}.items():
    print(f"\n{name.upper()} — {df.shape}")
    print(df.isnull().sum())
    print(df.dtypes)

CUSTOMERS — (5000, 6)
CustomerID    0
Name          0
Gender        0
Age           0
Region        0
SignupDate    0
dtype: int64
CustomerID    object
Name          object
Gender        object
Age            int64
Region        object
SignupDate    object
dtype: object

PRODUCTS — (48, 5)
ProductID      0
Category       0
SubCategory    0
ProductName    0
Price          0
dtype: int64
ProductID       object
Category        object
SubCategory     object
ProductName     object
Price          float64
dtype: object

ORDERS — (20000, 6)
OrderID          0
CustomerID       0
ProductID        0
OrderDate        0
Quantity         0
PaymentMethod    0
dtype: int64
OrderID          object
CustomerID       object
ProductID        object
OrderDate        object
Quantity          int64
PaymentMethod    object
dtype: object

TRANSACTIONS — (20000, 5)
TransactionID      0
OrderID            0
TransactionDate    0
Status             0
Amount             0
dtype: int64
TransactionID       object
OrderID             object
TransactionDate     object
Status              object
Amount             float64
dtype: object

RETURNS — (2000, 5)
ReturnID        0
OrderID         0
ReturnDate      0
Reason          0
RefundAmount    0
dtype: int64
ReturnID         object
OrderID          object
ReturnDate       object
Reason           object
RefundAmount    float64
dtype: object

MARKETING — (5000, 4)
CustomerID           0
AcquisitionSource    0
FirstVisitDate       0
DeviceType           0
dtype: int64
CustomerID           object
AcquisitionSource    object
FirstVisitDate       object
DeviceType           object
dtype: object

In [8]:
print(df.isnull().sum())

CustomerID           0
AcquisitionSource    0
FirstVisitDate       0
DeviceType           0
dtype: int64

In [9]:
print(df.dtypes)

CustomerID           object
AcquisitionSource    object
FirstVisitDate       object
DeviceType           object
dtype: object